body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: cornsilk;
}
h2{
    text-align:center;
    }
    form{
        height: 500px;
        padding: 15px;
        margin-left: 300px;
        margin-right: 300px;
        border-radius: 5px;
        background-color: darkcyan;
    }
    label{
        display: block;
        margin: 1px;
        font-weight: bold;
    }
    select{
        width: 98%;
        padding: 4px;
        border: 1px;
        border-radius: 3px;
        margin-bottom: 10px;
    }
    input[type="submit"]{
        color:blue;
        background-color: rgb(196, 197, 245);
        cursor: grab;
        margin-top: 7px;
        margin-left: 10px;
        }
        input[type="submit"]:hover{
            background-color: blue;
        }
        .main{
            width: 400px;
            margin:auto;
            height: auto;
        }
        input[type="text"]{
            width:97%;
        }
        input[type="password"]{
            width: 97%;
        }
        input[type="tel"]{
            width: 97%;
        }
        textarea{
            width: 97%;
            height: 130px;
        }
        